<body class="landingPage">
    <div class="topsm mx-0 my-0 d-md-none">
        <div class="jumbotron align-bottom jumbotron-fluid mb-0 pb-0 smhead1jumbo">
            <div class="container align-bottom">
                <h1 class="display-4 align-bottom text-center mb-0">HELLO</h1>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid mt-0 mb-0 pt-0 smhead2jumbo">
            <div class="container">
                <h1 class="text-center mb-0">I AM </h1>
                <h1 class="text-center mb-0"> RICKY FUK TRY TRY</h1>
            </div>
        </div>
    </div>
    <div class="container topmd mx-0 my-0 d-none d-md-block">
        <div class="row toptoprow align-bottom">
            <div class="col-md-4 align-bottom mb-0 pb-0 pr-0 mdhead1 text-right toptopleft">
                <div class="container align-bottom text-right pr-0 ">
                    <h1 class="align-bottom text-right pr-0 mb-0">HELLO</h1>
                </div>
            </div>
            <div class="col-md-8 mb-0 pb-0 mdhead1 toptopright">
            </div>
        </div>
        <div class="row topbottomrow">
            <div class="col-md-4 mb-0 pl-0 mdhead1 topbottomleft">
            </div>
            <div class="col-md-8 mb-0 pl-0 mdhead1 topbottomright">
                <div class="container pl-0">
                    <h1 class="text-left mb-0">I AM RICKY FUK</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="row bottom pt-3 mx-0 my-0">
        <div class="col-12 col-md-4 text-center landingselfimg">
            <img src="assets/image/landing 3.jpg" alt="rickyfuk landing page photo">
        </div>
        <div class="col-12 col-md-6 pt-md-3 text-center text-md-left landingtext">
            To learn More About me
            <div class="col-12 text-center text-md-left">
                <a type="button" class="btn btn-secondary" href="/aboutme">
                    Get started
                </a>
            </div>
        </div>
        <div class="row col-md-2">
            <!-- First 4 column in the row to put the linkden and facebook logo
                    Details for developer:
                    1. Added "d-flex" and "Justfify-content-start" to align the logo at the right hand side  
                -->
            <div class="col-4 col-md-12 text-right d-flex justify-content-end landinglogo">
                <a href="https://linkedin.com/in/ricky-fuk-a77466139">
                    <img src="assets/image/linkedin.png" alt="linkedin logo">
                </a>
                <a href="https://facebook.com/rickyfukfuk">
                    <img src="assets/image/facebook.png" alt="linkedin logo">
                </a>
            </div>
        </div>
</body>